@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-diamond-50:  #F0F8F8;
  --color-diamond-100: #D0E7E6;
  --color-diamond-200: #B5DCE0;
  --color-diamond-300: #95CCDD;
  --color-diamond-400: #6CA4DB;
  --color-diamond-500: #4274D9;
  --color-diamond-600: #395FC0;
  --color-diamond-700: #324EA3;
  --color-diamond-800: #293681;
  --color-diamond-900: #202B69;
  --color-diamond-950: #151C47;

  --color-background: var(--color-diamond-50);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-diamond-50);
  font-family: Arial, Helvetica, sans-serif;
}

.input-field {
  @apply text-black border border-gray-300 rounded-lg px-4 py-3 bg-zinc-50 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200 hover:shadow-md;
}